@use 'mixins/mixins.scss' as *;

// @include b(dialog) {
//   @include e(scrollbar) {
//     & > .el-scrollbar__wrap {
//       max-height: calc(100vh - 200px);
//     }
//   }
// }

@include b(dialog) {
  @include e(header) {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    .icon {
      align-self: flex-start;
      cursor: pointer;
    }
    .text {
      font-size: 18px;
    }
  }
  @include e(scrollbar) {
    & > .el-scrollbar__wrap {
      max-height: 500px;
      padding-bottom: 17px;
      & > .el-scrollbar__view {
        padding-right: 14px;
      }
    }
  }
  @include e(is-fullscreen) {
    & > .el-scrollbar__wrap {
      max-height: none;
      height: calc(100vh - 200px);
    }
  }
}