@use 'mixins/mixins.scss' as *;

@include b(table) {
  .el-table__row:hover .bc-table-cell-edit {
    padding: 5px 15px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
  }
  @include e(input) {
    font-size: 12px !important;
    line-height: 35px;
    height: 35px;
    input {
      font-size: 14px;
      /* font-family: YaHei; */
      line-height: 35px;
      height: 35px;
    }
  }
  @include e(cell-edit) {
    cursor: text;
    padding: 6px 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 35px;
  }
}

@include b(pagination) {
  background: #fff;
  padding: 10px 40px;
  border: 1px solid var(--el-table-border-color);
  border-top: none;
  border-bottom: none;
  position: relative;
  justify-content: flex-end;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--el-table-border-color);
  }
}
