.dialog-title {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  .icon {
    align-self: flex-start;
    cursor: pointer;
  }
  .text {
    font-size: 18px;
  }
}
.scrollbar {
  :deep(.el-scrollbar__wrap) {
    max-height: 500px;
    padding-bottom: 17px;
  }
  :deep(.el-scrollbar__view) {
    padding-right: 14px;
  }
}
.isFullscreen {
  &:deep(.el-scrollbar__wrap) {
    max-height: calc(100vh - 200px);
  }
}